
.questionform{
  padding-top: 20%;
  padding-left: 35%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  background-color:white;
  opacity: 90%;
}

.QA-ctn {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 250px;
}

.main-heading{
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
}

.searchBar{
  width: 100%;
  height: 3em;
}

.list-ctn {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.question{
  font-family: monospace;
  font-size: large;
  font-weight: 550;
}

.container {
  width: 100%;
}

.questionLink {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: small;
}

.A {
  font-weight: 550;
}

.ans {
}

.ans-info {
  width: 40%;
  display: flex;
  justify-content: space-between;
  font-size: small;
  margin: 1em;
}

.load-ans {
  font-size: 9px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight:900;
  margin: 1em;
}

.button {
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;
}

.button1 {
  border: 1px solid black;
  padding: 1em;
  background-color: white;
}
.button2 {
  border: 1px solid black;
  padding: 1em;
  margin-left: 1em;
  background-color: white;
}

.help{
  color: white;
}