.related-view {
  position: relative;
  max-width: 80%;
  overflow: hidden;
  z-index: 2;
}
.related-list {
  position: relative;
  max-width: 90%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  z-index: -1;
}

.related-list-content {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  z-index: -1;
}

.related-list-arrows {
  height: 64px;
  position: absolute;
  top: 40%;
  z-index: 1;
}

.related-list-arrows__right {
  left: 90%;
}
.related-list-arrows__left {
  left: -2%;
  transform: rotate(180deg);
}

/* ARROW HOVER EFFECTS */
.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

.related-card {
  max-width: 250px;
  width: 250px;
  min-width: 250px;
  max-height: 400px;
  height: 350px;
  margin: 0 20px 0 20px;
  border-radius: 2%;
  box-shadow: 5px 7px 20px 1px rgba(0, 0, 0, 0.40);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.related-card-visual {
  display: flex;
  height: 55%;
  flex-direction: column;
  justify-content: flex-start;
}

.related-card-visual-thumbnail {
  aspect-ratio: inherit;
  width: 100%;
  height: 100%;
}

.related-card-visual-star-default {
  position: sticky;
  margin: 5px 25px 5px 0;
  justify-items: flex-start;
  align-self: flex-end;
  width: 20px;
}

.related-card-info {
  margin: 10px;
}

.comparison-viewer {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  border-radius: 5%;
  background-color: transparent;
  z-index: 10;
}

.comparison-table {
  position: sticky;
  top: 20%;
  left: 50%;
  width: 400px;
  height: 300px;
  border-radius: 10%;
  box-shadow: 5px 4px 30px .2px rgba(0, 0, 0, 0.178);
  background-color: rgb(233, 207, 207);
}