
.view {
  position: relative;
  width:  100%;
  overflow: hidden;
  z-index: 1;
  mix-blend-mode:overlay;
}

.list {
  position: relative;
  max-width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  z-index: -1;
}

.list-content {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  z-index: -2;
}

.list-arrows {
  height: 24px;
  position: absolute;
  border-radius: 5px;
  top: 60%;
  z-index: 1;
}

.related-arrows__right,
.outfit-arrows__right {
  left: 95%;
}
.related-arrows__left,
.outfit-arrows__left {
  left: 2%;
}

/* ARROW HOVER EFFECTS */
.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

.hvr-backward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  transform: rotate(180deg);
}
.hvr-backward:hover, .hvr-backward:focus, .hvr-backward:active {
  -webkit-transform: translateX(-8px) rotate(180deg);
  transform: translateX(-8px) rotate(180deg);
}

/*RELATED CARD */
.card {
  max-width: 250px;
  width: 250px;
  min-width: 250px;
  max-height: 400px;
  height: 350px;
  margin: 0 20px 0 20px;
  border-radius: 5px;
  box-shadow: 5px 7px 20px 1px rgba(0, 0, 0, 0.26);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -6;
}

/* Related Card Effect */
.hvr-float {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* Related Card Contents */
.related-card-visual {
  display: flex;
  height: 70%;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.related-card-visual-thumbnail {
  position: relative;

  width: 100%;
  height: 100%;
  z-index: -5;
}

.related-card-visual-star-default {
  position: absolute;
  margin: 5px 10px 5px 0;
  justify-items: flex-start;
  align-self: flex-end;
  width: 20px;
  z-index: 1;
}

.related-card-info {
  align-self: flex-start;
  margin: 10px 20px;
}
/* all children */
.related-card-info>* {
  margin: 0 0 8px 0;
}

.related-card-info-name {
  font-weight: bold;
  font-size: 1em;
}

.related-card-info-category {
  font-weight: normal;
  font-size: .8em;
}

.related-card-info-default-price {
  font-size: .8em;
}

.comparison-viewer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3000px;
  border-radius: 5%;
  background-color: transparent;
  z-index: 10;
}

.comparison-data {
  position: sticky;
  top: 20%;
  left: 50%;
  width: 500px;
  height: 300px;
  border: black 1px solid;
  padding: 15px;
  box-shadow: 5px 4px 30px .2px rgba(0, 0, 0, 0.178);
  background-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comparison-table {
  table-layout: fixed;
  width: 90%;
  border-collapse: collapse;
}

.comparison-table-names {
  font-weight: bold;
  font-size: 1.2em;
}

.comparison-table-names:nth-child(even) {
  text-align: left;
  width: 50%;
}

.comparison-table-related-product {
  text-align: right;
}

.comparison-title {
  align-self: flex-start;
  font-weight: 300;
  font-size: .8em;
}

.comparison-info {
  width: 90%;
}

.comparison-info-related-product {
  text-align: right;
  width: 25%;
}

.comparison-info-feature {
  font-weight: bold;
  text-align: center;
  width: 30%;
}

.comparison-info-display-product {
  width: 25%;
}

.outfit-card {
  box-shadow: none;
  background: transparent;

}

.outfit-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outfit-add-img {
  width: 80px;
  height: 80px;
}

.outfit-add-desc {
  font-size: 1.2em;
  font-weight: 300;
}