body {
  background: white;
}
.related-view {
  position: relative;
  max-width: 80%;
  overflow: hidden;
  z-index: 1;
  /* background: linear-gradient(90deg, rgba(255, 255, 255, 0) 80%, rgb(255, 255, 255, 1)); */

  mix-blend-mode:overlay;
}
.related-list {
  position: relative;
  max-width: 90%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 80%, rgb(255, 255, 255, 1));
  z-index: -1;
}

.related-list-content {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  z-index: -2;
}

.related-list-arrows {
  height: 24px;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  top: 60%;
  z-index: 1;
}

.related-list-arrows__right {
  left: 97%;
}
.related-list-arrows__left {
  left: 0%;
}

/* ARROW HOVER EFFECTS */
.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

.hvr-backward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  transform: rotate(180deg);
}
.hvr-backward:hover, .hvr-backward:focus, .hvr-backward:active {
  -webkit-transform: translateX(-8px) rotate(180deg);
  transform: translateX(-8px) rotate(180deg);
  /* transform: rotate(180deg); */
}

/*RELATED CARD */
.related-card {
  max-width: 250px;
  width: 250px;
  min-width: 250px;
  max-height: 400px;
  height: 350px;
  margin: 0 20px 0 20px;
  border-radius: 5px;
  box-shadow: 5px 7px 20px 1px rgba(0, 0, 0, 0.40);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: -6;
  color: red;
  background: white;
}

.related-card-visual {
  display: flex;
  height: 70%;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.related-card-visual-thumbnail {
  position: relative;

  width: 100%;
  height: 100%;
  z-index: -5;
}

.related-card-visual-star-default {
  position: absolute;
  margin: 5px 10px 5px 0;
  justify-items: flex-start;
  align-self: flex-end;
  width: 20px;
  z-index: -4;
}

.related-card-info {

  margin: 10px 20px;
}
/* all children */
.related-card-info>* {
  margin: 0 0 8px 0;
}

.related-card-info-name {
  font-weight: bold;
  font-size: 1em;
}

.related-card-info-category {
  font-weight: normal;
  font-size: .8em;
}

.related-card-info-default-price {
  font-size: .8em;
}

.comparison-viewer {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  border-radius: 5%;
  background-color: transparent;
  z-index: 10;
}

.comparison-table {
  position: sticky;
  top: 20%;
  left: 50%;
  width: 400px;
  height: 300px;
  border: black 1px solid;
  padding: 15px;
  box-shadow: 5px 4px 30px .2px rgba(0, 0, 0, 0.178);
  background-color: rgb(230, 230, 230);
}

.comparison-table-names {
  font-weight: bold;
  font-size: 1.2em;
}

.comparison-table-title {
  font-weight: 300;
  font-size: .8em;
}

.comparison-table-related-product {
  text-align: right;
}

.comparison-table-feature {
  font-weight: bold;
  text-align: center;
}

td {
  padding: 0px;
}