* {
  margin: 0;
  padding: 0;
}

.navbar-container {
  height: 10vh;
  /* width: 81vw; */
  margin: 0;
  /* position: fixed; */
  background-color: #f2ebe9;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 18px;
  align-items: center;
  position: sticky;
}

#bag-icon, #cart-container, #num-items {
  height:50px;
  width: 50px;
}

#cart-container {
  position: relative;
}

#num-items {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  color: #f2ebe9;
}

#bag-icon {
  /* font-size: 1.75em; */
  color: #de5499;
  position: absolute;
}