@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

/* @media (prefers-color-scheme: light) {
  body {
    background: #393232;
  }

  .card {
    background: #4d4545;
  }
} */
.product-page-viewer {
  display: grid;
  grid-template-columns: [first] 10% [line1] 80% [end];

}

.product-page-viewer>* {

  grid-column-start: line1;
}

body {
  /* background-color: #eddcd9; */
  color: #ed8d8d;
  background-color: #393232;
  font-family: 'Rubik', sans-serif;
}
body a {
  background-color: #eddcd9;
  font-family: 'Rubik', sans-serif;
}

.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgb(255 255 255 / 60%);
}

btn {
  color: #ed8d8d;
}

.navbar-container {
  background-color: #4d4545;

}



.list-arrows {
  background: #8d6262;
}

.card {
  /* color: #ed8d8d; */
  background: #4d4545;
}

.comparison-data {
  background-color: #4d4545;
  border: #ed8d8d 1px solid;
}

.outfit-card {
  background: transparent;
}

.button1 {
  color: #ed8d8d
}
.button2 {
  color: #ed8d8d
}

.question {
  color: #de5499;
}