@media (prefers-color-scheme: light) {
  body {
    background: #393232;
  }

  .card {
    background: #4d4545;
  }
}
.product-page-viewer {
  display: grid;
  grid-template-columns: [first] 10% [line1] 80% [end];

}

.product-page-viewer>* {

  grid-column-start: line1;
}

body {
  background-color: #eddcd9;
}