.review-rating {
  color:red
}

#star-rating {
  color:red
}

#review-thumbnail {
  width: 100px;
  height: 100px;
}

#review-sort {
  display: inline-block;
}

.review {
  display: flex;
  flex: 1 3 30%;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 66%;
}

#review-line-two {
  margin-top:10%;
  display: inline;
}


#review-list {
  display: inline;
}

#review-summary {
  display: inline;
}

#review-form-whole {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  background-color: rgba(139, 139, 139, 0.5);
}

#write-form  {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

#review-form-top {
  display: inline-block;
  padding-left: 3%;

}
#review-radio {
  display: flex;
  flex-direction: column;
  padding-left: 3%;
}

#reviews {
  width: 300px;
}

#review-input {
  display: flex;
  flex-direction: row;
  padding-left: 3%;
}

.buttons {
  display: inline-block;
}

.average-score {
  font-size: 30px;
}

.review-name-date {
  display: flex;
  justify-content: space-between;

}